<h2><%= project.get("title") %></h2>
<div class="star <%= project.get('is_favorite') ? 'filled' : 'empty' %>"></div>
<aside><a href="#" class='add-members'>Invite more people</a></aside>
<nav id="actions" class="group">
<ul class="group existing">
<% if (discussions.length) { %>
  <li><a href="#" class="existing-discussions"><%= discussions.length %> Discussion(s)</a></li>
<% } %>
<% if (todos.length) { %>
  <li><a href="#"><%= todos.length %> Todo(s)</a></li>
<% } %>
</ul>
<ul>
  <li>Add a new...</li>
  <li><a href="#">Discussion</a></li>
  <li><a href="#">Todo</a></li>
  <li><a href="#">File</a></li>
  <li><a href="#">Date</a></li>
</ul>
</nav>

<section class="item" id="latest">
  <h3>Latest Project Updates</h3>
  <ul>

  <% recents.forEach(function(recent) { %>
    <% var date = Date.parse(recent.created_at) %>
    <% date = new Date(date) %>
    <% date = date.toDateString().slice(4,-5) %>
    <li><time><%= date %></time> Created: <%= recent.title %></li>

  <% }) %>

  <% if (recents.length == 0) { %>
    <li><time>No updates to display!</time></li>
  <% } %>
  </ul>
</section>

<section class="item group inline" id="inline_discussions">
  <h3>Discussions</h3><button class="message-btn">Post a new message</button>
  <ul>
    <% discussions.each(function(discussion) { %>
      <li><h4><%= discussion.get("username") %> posted:</h4> <a href="#"><%= discussion.get("title") %></a></li>
    <% }) %>
    <% if (discussions.length == 0) { %>
      <li>No discussions to display!</li>
    <% } %>
  </ul>
</section>

<section class="item group inline" id="inline_todos">
  <h3>Todos</h3><button>Create a new todo</button>
  <ul>
    <% todos.each(function(todo) { %>
      <li><a href="#"><%= todo.get("title") %></a></li>
    <% }) %>
    <% if (todos.length == 0) { %>
      <li>No todos to display!</li>
    <% } %>
  </ul>
</section>